In [1]:
import pandas as pd
import numpy as np

In [4]:
videos = pd.DataFrame({"User Id": [24398, 24398, 32983],
                       "Title": ["What is Computer Science? (Part 2: Algorithms, Computation, and more)",
                                 "Advanced Algorithms (COMPSCI 224), Lecture 1",
                                 "What causes an economic recession?"],
                       "Topic": ["Computer Science", 
                                 "Computer Science",
                                 "Economics"],
                       "Tags": ["algorithms, engineering, mathematics",
                                "algorithms, arrays, mathematics",
                                "money, finance, employment"],
                       "Saved": [0, 1, 1],
                       "Watch Time (min)": [22.34, 32, 15],
                       "Video Length (min)": [45, 35, 18],
                       "User Rating (1-5)": [3, 4, 5]})

videos

,User Id,Title,Topic,Tags,Saved,Watch Time (min),Video Length (min),User Rating (1-5)
0,24398,"What is Computer Science? (Part 2: Algorithms,...",Computer Science,"algorithms, engineering, mathematics",0,22.34,45,3
1,24398,"Advanced Algorithms (COMPSCI 224), Lecture 1",Computer Science,"algorithms, arrays, mathematics",1,32.00,35,4
2,32983,What causes an economic recession?,Economics,"money, finance, employment",1,15.00,18,5

In [3]:
users = pd.DataFrame({"User Id": [24398, 32983],
                      "Age": [18, 22],
                      "Programs Enrolled": ["Abstraction and Design in Computation; Intro to CS",
                                            "Microeconomics; Research Design and Conduct"],
                      "Education": ["High School", "College"],
                      "Experience (years)": ["0-2", "3-5"],
                      "Interests": ["mathematics, sports, technology",
                                    "mathematics, research, writing"]})

users

,User Id,Age,Programs Enrolled,Education,Experience (years),Interests
0,24398,18,Abstraction and Design in Computation; Intro t...,High School,0-2,"mathematics, sports, technology"
1,32983,22,Microeconomics; Research Design and Conduct,College,3-5,"mathematics, research, writing"